<!DOCTYPE html>
<html>
<head>
	<title>Oli's SaaS</title>
</head>
<body>
	<p>You have recieved a messsage from the site's contact form, from <%= "#{ @name}, #{ @email},"</p>
	<p><%= @body %></p>
</body>
</html>